Get data from csv file.

In [48]:
import pandas as pd
import numpy as np

immo = pd.read_csv("../data/_data_clean.csv", index_col='id')
display(immo.head())
display(immo.isnull().mean() * 100)#percentage of missing values per column

,URL,Status,transactionType,transactionSubtype,price,type,subtype,country,region,province,...,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,epcScore,hasDoubleGlazing,saleType,creationDate,lastModificationDate,price_per_sm
id,,,,,,,,,,,,,,,,,,,,,
10616910,https://www.immoweb.be/en/classified/10616910,200,FOR_SALE,BUY_REGULAR,399000,APARTMENT,APARTMENT,Belgium,Flanders,Limburg,...,1.0,1.0,NaN,142.0,B,True,NaN,2023-06-07T07:39:57.000+0000,2023-06-07T07:39:59.080+0000,3192.00
10616880,https://www.immoweb.be/en/classified/10616880,200,FOR_SALE,BUY_REGULAR,218000,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,0.0,0.0,NaN,92.0,A,True,NaN,2023-06-07T07:22:33.000+0000,2023-07-05T08:30:20.607+0000,2564.71
10616933,https://www.immoweb.be/en/classified/10616933,200,FOR_SALE,BUY_REGULAR,95000,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,0.0,0.0,NaN,521.0,F,NaN,NaN,2023-06-07T07:52:35.000+0000,2023-07-05T08:28:15.563+0000,2317.07
10616917,https://www.immoweb.be/en/classified/10616917,200,FOR_SALE,BUY_REGULAR,169000,APARTMENT,APARTMENT,Belgium,Flanders,West Flanders,...,0.0,0.0,NaN,391.0,D,True,NaN,2023-06-07T07:47:23.000+0000,2023-07-05T08:19:08.357+0000,0.00
10616913,https://www.immoweb.be/en/classified/10616913,200,FOR_SALE,BUY_REGULAR,359000,APARTMENT,APARTMENT,Belgium,Flanders,Antwerp,...,0.0,0.0,NaN,140.0,B,False,NaN,2023-06-07T07:44:08.000+0000,2023-06-07T07:44:09.170+0000,3263.64

URL                                 0.000000
Status                              0.000000
transactionType                     0.000000
transactionSubtype                  0.000000
price                               0.000000
type                                0.000000
subtype                             0.000000
country                             0.000000
region                              0.000000
province                            0.000000
district                            0.000000
locality                            0.000000
postalCode                          0.000000
street                             16.966595
number                             19.531121
box                                81.030213
floor                               0.000000
latitude                            0.000000
longitude                           0.000000
bedroomCount                        0.000000
netHabitableSurface                 0.000000
constructionYear                   37.724946
facadeCount                         0.000000
floorCount                          0.000000
condition                          26.371691
hasLift                             0.000000
kitchen                            36.134500
hasGarden                           0.000000
gardenSurface                      69.407297
hasTerrace                          0.000000
terraceSurface                     38.214738
land                               48.869077
fireplaceExists                     0.000000
hasSwimmingPool                    48.582907
hasAirConditioning                 87.749711
bathroomCount                       0.000000
showerRoomCount                     0.000000
toiletCount                         0.000000
parkingCountIndoor                  0.000000
parkingCountOutdoor                 0.000000
parkingCountClosedBox             100.000000
primaryEnergyConsumptionPerSqm      0.000000
epcScore                           20.108965
hasDoubleGlazing                   22.095647
saleType                           97.182323
creationDate                        0.000000
lastModificationDate                0.000000
price_per_sm                        0.000000
dtype: float64

In [49]:
immo.select_dtypes(include=np.number)

,Status,price,postalCode,floor,latitude,longitude,bedroomCount,netHabitableSurface,constructionYear,facadeCount,...,terraceSurface,land,bathroomCount,showerRoomCount,toiletCount,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,price_per_sm
id,,,,,,,,,,,,,,,,,,,,,
10616910,200,399000,3550.0,1.0,51.019022,5.307467,2.0,125.0,2013.0,1.0,...,0.0,NaN,1.0,0.0,1.0,1.0,1.0,NaN,142.0,3192.00
10616880,200,218000,2400.0,1.0,51.189970,5.116175,2.0,85.0,NaN,1.0,...,0.0,NaN,1.0,0.0,1.0,0.0,0.0,NaN,92.0,2564.71
10616933,200,95000,8800.0,2.0,50.941540,3.122149,1.0,41.0,NaN,1.0,...,NaN,NaN,1.0,0.0,1.0,0.0,0.0,NaN,521.0,2317.07
10616917,200,169000,8660.0,0.0,51.097924,2.592177,1.0,0.0,NaN,1.0,...,NaN,NaN,1.0,0.0,1.0,0.0,0.0,NaN,391.0,0.00
10616913,200,359000,2050.0,7.0,51.232721,4.378834,3.0,110.0,NaN,2.0,...,0.0,NaN,1.0,0.0,1.0,0.0,0.0,NaN,140.0,3263.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10616802,200,650000,1060.0,0.0,50.825379,4.343049,3.0,130.0,NaN,4.0,...,0.0,NaN,2.0,1.0,2.0,1.0,1.0,NaN,310.0,5000.00
10616803,200,740000,1040.0,0.0,50.830582,4.389985,3.0,170.0,2013.0,2.0,...,0.0,NaN,2.0,6.0,3.0,1.0,1.0,NaN,151.0,4352.94
10616810,200,317500,9200.0,0.0,51.034941,4.162196,3.0,127.0,2022.0,1.0,...,0.0,NaN,1.0,0.0,1.0,1.0,1.0,NaN,0.0,2500.00
10616813,200,385000,1210.0,1.0,50.848648,4.372007,2.0,85.0,2023.0,2.0,...,0.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,0.0,4529.41
10616831,200,465000,1420.0,0.0,50.683724,4.398701,3.0,130.0,2025.0,2.0,...,0.0,NaN,2.0,0.0,2.0,53.0,53.0,NaN,50.0,3576.92

In [50]:
immo = immo[['price', 'floor', 'bedroomCount', 'netHabitableSurface', 
            'constructionYear', 'facadeCount', 'floorCount', 'gardenSurface', 'terraceSurface', 'land', 'bathroomCount', 
            'showerRoomCount', 'toiletCount', 'parkingCountIndoor', 'parkingCountOutdoor', 'parkingCountClosedBox', 
            'primaryEnergyConsumptionPerSqm', 'price_per_sm']]

immo = immo[~immo['constructionYear'].isna()]

immo.shape
immo.head()

,price,floor,bedroomCount,netHabitableSurface,constructionYear,facadeCount,floorCount,gardenSurface,terraceSurface,land,bathroomCount,showerRoomCount,toiletCount,parkingCountIndoor,parkingCountOutdoor,parkingCountClosedBox,primaryEnergyConsumptionPerSqm,price_per_sm
id,,,,,,,,,,,,,,,,,,
10616910,399000,1.0,2.0,125.0,2013.0,1.0,1.0,NaN,0.0,NaN,1.0,0.0,1.0,1.0,1.0,NaN,142.0,3192.00
10616911,423000,2.0,3.0,155.0,2014.0,4.0,3.0,NaN,0.0,NaN,1.0,2.0,2.0,4.0,8.0,NaN,112.0,2729.03
10616934,169000,0.0,1.0,54.0,1850.0,2.0,2.0,NaN,NaN,NaN,1.0,1.0,1.0,0.0,0.0,NaN,109.0,3129.63
10616833,275000,1.0,1.0,66.0,2025.0,3.0,3.0,NaN,0.0,NaN,1.0,0.0,1.0,53.0,53.0,NaN,50.0,4166.67
10616966,185000,3.0,2.0,74.0,1975.0,1.0,3.0,NaN,NaN,NaN,1.0,0.0,1.0,0.0,0.0,NaN,238.0,2500.00

In [51]:
display(immo.isnull().mean() * 100)#percentage of missing values per column

price                               0.000000
floor                               0.000000
bedroomCount                        0.000000
netHabitableSurface                 0.000000
constructionYear                    0.000000
facadeCount                         0.000000
floorCount                          0.000000
gardenSurface                      66.905267
terraceSurface                     33.404030
land                               53.587840
bathroomCount                       0.000000
showerRoomCount                     0.000000
toiletCount                         0.000000
parkingCountIndoor                  0.000000
parkingCountOutdoor                 0.000000
parkingCountClosedBox             100.000000
primaryEnergyConsumptionPerSqm      0.000000
price_per_sm                        0.000000
dtype: float64

In [52]:
immo = immo[['price', 'floor', 'bedroomCount', 'netHabitableSurface', 
            'constructionYear', 'facadeCount', 'floorCount', 'bathroomCount', 
            'showerRoomCount', 'toiletCount', 'parkingCountIndoor', 'parkingCountOutdoor', 
            'primaryEnergyConsumptionPerSqm', 'price_per_sm']]

immo.shape

(11316, 14)

In [53]:
immo.to_csv('../data/_data_clean_to_model.csv')